@charset "UTF-8";
/* CSS Document */

/* Color scheme name = 'Copy of Dpm' courtesy of from kuler.adobe.com */ 

body {
	width: 90%;
	margin: 0 auto;
	background-color: #ffffff;
	background-color: hsla(60,100%,90%,1);
	color: midnightblue;
}

h1 {
	width: 100%;
	font: italic normal bold 2.5em 'Unlock', cursive;
	letter-spacing: 0.2em;
	background-color: #E63F03;
	color: #FEAA04;
	padding: 5px;
	border: 2px groove #600;
	text-shadow: 1px 1px 3px #033;
	text-align: center;
	box-shadow: 2px 2px 6px 1px #600; 
}

h2 {
	height: 40px;
	font: normal small-caps 1.8em 'Balthazar', serif;
	background-color: rgb(254,170,4);
	color: #CA361E;
	padding: 2px;
	border: 2px groove #600;
	text-shadow: 1px 1px 2px #033;
	text-align: center;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
}


ul {
	background-color: sandybrown;
	background-color: hsl(20,100%,70%);
	color: #3D2201;
	padding: 30px 15px 10px 35px;
	margin: 10px auto;
	border: 2px groove #600;
}

p {
	margin: 10px;
	padding: 5px;
}

ul li {
	padding-bottom: 15px;
	list-style-type: circle;
}

#colLeft {
	float: left;
	width: 69%;
	margin: 1%;
	padding: 5px;
}

#colRight {
	float: left;
	width: 24%;
	margin: 1%;
	padding: 5px;
}

#footer {
	clear: both;
}

#list-text {
	text-align: justify;
	padding-left: 5px;
	margin: 10px auto 5px auto;
}

#list-item {
	display: inline;	
}

#link-resource {
	width: 900px;
	display: inline;
}

a:link {
	color: #00F;
	text-decoration: none;
}

a:visited {
	color:#00C;
}

a:hover {
	color:#F60;
	text-decoration: underline;
}

a:active {
	color:#00C;
}





