@charset "UTF-8";
/* CSS Document */

/* Color scheme name = 'Copy of Dpm' courtesy of from kuler.adobe.com */ 

body {
	width: 90%;
	margin: 0 auto;
	background: #fff url(../images/pattern_047.gif) repeat;
	color: midnightblue;
}

h1 {
	width: 100%;
	height: 90px;
	font: italic normal bold 2.5em 'Unlock', cursive;
	letter-spacing: 0.2em;
	color: #FEAA04;
	padding: 5px;
	margin: 8px 0;
	border: 2px groove #600;
	text-shadow: 1px 1px 3px #033;
	text-align: center;
	box-shadow: 2px 2px 6px 1px #600; 
	background: #E63F03 url(../images/fish.png) no-repeat center left;
}

h2 {
	height: 40px;
	font: normal small-caps 1.6em 'Balthazar', serif;
	background-color: rgb(254,170,4);
	color: #CA361E;
	padding: 15px 5px 0 5px;
	margin: 0;
	border: 2px groove #600;
	text-shadow: 1px 1px 2px #033;
	text-align: center;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
}


ul {
	height: 573px;
	background: -moz-linear-gradient(top, rgba(250,198,149,1) 0%, rgba(245,171,102,0.88) 47%, rgba(250,198,149,0.75) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(250,198,149,1)), color-stop(47%,rgba(245,171,102,0.88)), color-stop(100%,rgba(250,198,149,0.75))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(250,198,149,1) 0%,rgba(245,171,102,0.88) 47%,rgba(250,198,149,0.75) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(250,198,149,1) 0%,rgba(245,171,102,0.88) 47%,rgba(250,198,149,0.75) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(250,198,149,1) 0%,rgba(245,171,102,0.88) 47%,rgba(250,198,149,0.75) 100%); /* IE10+ */
	color: #3D2201;
	padding: 30px 15px 0 35px;
	margin: 0 auto;
	border-left: 2px groove #600;
	border-right: 2px groove #600;
	border-bottom: 2px groove #600;
	background: rgba(250,198,149,1) url(../images/nemo.png) no-repeat bottom right;
}

p {
	margin: 10px;
	padding: 5px;
	
}

ul li {
	padding-bottom: 15px;
	list-style-type: circle;
}

#clownFishText {
	font: italic bold 1.2em "Comic Sans MS", cursive s; 
	text-transform: capitalize;
}

#colLeft {
	float: left;
	width: 69%;
	height: 1000px;
	margin: 0 1%;
	padding: 5px;
	/*background-color: #ffffff; */
	background-color: hsla(60,100%,90%,1);
}

#colRight {
	float: left;
	width: 24%;
	height: 1000px;
	margin: 0 1%;
	padding: 0 10px;
}

#footer {
	clear: both;
	background-color: hsla(60,100%,90%,1);
	margin: 0 1%;
	padding: 5px;
	width:69%;
}

#paragraph2 {
	background: url(../images/fish.png) no-repeat center left;
	padding-left: 145px;
}

#list-text {
	text-align: justify;
	padding: 30px 10px;
	margin: 0 auto;
	background-color: #fac695;
	border-left: 2px groove #600;
	border-right: 2px groove #600;
}

#list-item {
	display: inline;	
}

#link-resource {
	width: 900px;
	display: inline;
}

a:link {
	color: #00F;
	text-decoration: none;
}

a:visited {
	color:#00C;
}

a:hover {
	color:#F60;
	text-decoration: underline;
}

a:active {
	color:#00C;
}


table {
	width: 600px;
	margin: 0 auto;
	border: 1px solid #F60;
	border-collapse: collapse;
}

 th {
	height: 25px;
	background-color: #FC3;
	text-transform: uppercase;
	font-size: 18px;
	border: 1px solid #F60;
	text-align: left;
	padding: 10px;
}

td {
	padding: 5px 10px;
	border-right: 1px solid #F60;
}

tr.even {
	background-color: #9CF;
	}
tr:hover {
	background-color: #FC9;
	}
	
form {
	width: 500px;
	margin: 10px auto;
}
fieldset {
	width: 490px;
	/*border: 1px solid midnightblue;*/
	background: -moz-linear-gradient(top, rgba(250,198,149,1) 0%, rgba(245,171,102,0.88) 47%, rgba(250,198,149,0.75) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(250,198,149,1)), color-stop(47%,rgba(245,171,102,0.88)), color-stop(100%,rgba(250,198,149,0.75))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(250,198,149,1) 0%,rgba(245,171,102,0.88) 47%,rgba(250,198,149,0.75) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(250,198,149,1) 0%,rgba(245,171,102,0.88) 47%,rgba(250,198,149,0.75) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(250,198,149,1) 0%,rgba(245,171,102,0.88) 47%,rgba(250,198,149,0.75) 100%); /* IE10+ */
	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	
	-webkit-box-shadow: inset 0 -3px 4px #6E3614;
	-moz-box-shadow: inset 0 -3px 4px #6E3614;
	box-shadow: inset 0 -3px 4px #6E3614;
}

legend {
	font-weight: bold;
	font-size: 20px;
	text-shadow: 1px 1px 3px  #333333;
	color: #104AAD;
}
	
.title {
	float: left;
	margin-right:10px;
	width: 30px;
}

input[type="text"] {
	margin-left: -60px;
	margin-top: 5px;
	width: 250px;
	height: 20px; 
	border: 1px solid #CCC;
	-webkit-box-shadow: inset 0px 2px 3px #666,inset 0px -5px 3px #EEE;
	-moz-box-shadow: inset 0px 2px 3px #666,inset 0px -5px 3px #EEE;
	box-shadow: inset 0px 2px 3px #666,inset 0px -5px 3px #EEE;
-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

input[type="email"] {
	margin-left: -60px;
	margin-top: 5px;
	width: 250px;
	height: 20px;     
	border: 1px solid  #CCC;
	-webkit-box-shadow: inset 0px 2px 3px #666,inset 0px -5px 3px #EEE;
	-moz-box-shadow: inset 0px 2px 3px #666,inset 0px -5px 3px #EEE;
	box-shadow: inset 0px 2px 3px #666,inset 0px -5px 3px #EEE;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

input[type="text"]:focus,
input[type="text"]:hover {
	background-color: #9CF;
	border: 1px solid #999999;
}

input[type="email"]:focus,
input[type="email"]:hover {
	background-color: #9CF;
	border: 1px solid #999999;
}

select {
	margin-left: -30px;
}

textarea {
	width: 350px;
	height: 70px;
	max-height: 70px;
	max-width: 350px
}

label {
	margin-top: 5px;
}

label:hover input[type=text], input[type=password]:hover, textarea:hover {
	outline: solid orange;
}

textarea:focus, input:focus {
	border: 2px solid #F60;
}

.title {
	float: left;
	width: 160px;
	clear: left;
}

.save-button {
	border-radius: 6px;
	border: 2px solid midnightblue;
	height: 25px;
	width: 60px;
	float:right;
	text-align: center;
	background-color: #9CF;
	
}

.save-button:hover {
	border: 2px solid #F60;
	cursor: pointer;
}

#saveContent {
	margin-top: 10px;
}
